<%- layout('./share/layout') %>
    <link rel="stylesheet" href="/stylesheets/film/list.css">
    <div class="my-header-page">
        <div class="my-top-header-text">
            <h1> Cinema Website </h1>
        </div>
    </div>

    <div class="loader"></div>

    <nav class="navbar navbar-default navbar-custom" ng-controller="showListController">
        <div class="container my-containter-full">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <ul class="nav navbar-nav nav-left">
                            <li class="li-icon">
                                    <a href="" ng-click="toggleInputSearch()">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="li-input-search"  ng-cloak>
                                    <input type="text" class="form-control input-search" id="input-search" placeholder="Nhập từ khóa tìm kiếm ..." ng-model="search">
                                </li>
                            <li class="ng-binding ng-show" ng-show="user._id" ng-cloak>
                                <a href="/user/{{user._id}}">
                                <i class="fa fa-user fa-lg" aria-hidden="true"></i> {{user.name}}</a>
                            </li>
                        </ul>
                <ul class="nav navbar-nav navbar-right">
                        <li ng-show="user._id" ng-cloak>
                            <a href="/phim/tao-phim" >
                                <i class="fa fa-upload fa-lg" aria-hidden="true"></i> Tạo phim mới </a>
                        </li>
                        <li ng-show="!user._id" ng-cloak>
                            <a href="/dangky" >
                                <i class="fa fa-user-plus fa-lg" aria-hidden="true"></i> Đăng ký </a>
                        </li>
                        <li ng-show="!user._id" ng-cloak>
                            <a href="/dangnhap">
                                <i class="fa fa-sign-in fa-lg" aria-hidden="true"></i> Đăng nhập </a>
                        </li>
                        <li ng-show="user._id" ng-click="clickSignOut()" style="cursor: pointer" ng-cloak>
                            <a>
                                <i class="fa fa-power-off fa-lg" aria-hidden="true"></i> Đăng xuất</a>
                        </li>
                </ul>

            </div>
        </div>
    </nav>

    <div ng-controller="showListController">
        <p class="hide" id="user-id"><%= userId %></p>
        <div class="modal" tabindex="-1" role="dialog" id="LogoutDialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Thông báo</h5>
                        </div>
                        <div class="modal-body">
                            <p>Bạn có chắc chắn muốn đăng xuất ?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" ng-click="goSignOut()">OK</button>
                            <button type="button" class="btn btn-primary" ng-click="cancelDialog()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 my-portfolio-item animated fadeInUp" ng-repeat="film in listFilms | orderBy: '-createdDate' | filmFilter ">
            <a ng-href="/phim/{{film._id}}">
                <img ng-src="{{film.posterURL || '/images/image.jpeg'}}" class="img-responsive" alt="">
                <div class="detail">
                    <h2 class="name-film"> {{film.name}} ({{ film.releaseDate | date: 'dd/MM/yyyy' }}) </h2>
                    <hr class="hr-film">
                    <p class="content-film">
                        <span class="my-text-bold"> Thể loại: </span>{{film.genre}} </p>
                    <p class="content-film" ng-init="content=minContentFilm(film)">
                        <span class="my-text-bold"> Nội dung: </span> {{film.content}} </p>
                </div>
            </a>
        </div>

    </div>

    <div>
    </div>
    <script src="/javascripts/film/showListFilm.js"></script>