<%- layout('./share/layout') %>
<link rel="stylesheet" href="/stylesheets/film/list.css">
    <div class="my-header-page">
        <div class="my-top-header-text">
            <h1> Cinema Website </h1>
        </div>
    </div>

    <div class="loader"></div>

    <nav class="navbar navbar-default navbar-custom">
        <div class="container my-containter-full">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/phim/tao-phim" ng-cloak>
                                    <i class="fa fa-upload fa-lg" aria-hidden="true"></i> Tạo phim mới </a>
                            </li>
                            <li>
                                    <a href="/dangky" ng-cloak>
                                        <i class="fa fa-user-plus fa-lg" aria-hidden="true"></i> Đăng ký </a>
                                </li>
                    </ul>

            </div>
        </div>
    </nav>

    <div ng-controller="showListController">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 my-portfolio-item animated fadeInUp" ng-repeat="film in listFilms | orderBy: '-createdDate'">
            <a ng-href="/phim/{{film._id}}">
                <img src="../images/image.jpeg" class="img-responsive" alt="">
                <div class="detail">
                    <h2 class="name-film"> {{film.name}} ({{ film.releaseDate | date: 'dd/MM/yyyy' }}) </h2>
                    <hr class="hr-film">
                    <p class="content-film">
                        <span class="my-text-bold"> Thể loại: </span>{{film.genre}} </p>
                    <p class="content-film" ng-init="content=minContentFilm(film)">
                        <span class="my-text-bold"> Nội dung: </span> {{film.content}} </p>
                </div>
            </a>
        </div>
    
    </div>

    <div>
    </div>
    <script src="/javascripts/film/showListFilm.js"></script>

   