<!DOCTYPE html>
<%- layout('../share/layout') %>

    <style>
        input:read-only {
            background-color: white
        }
    </style>

    <link rel="stylesheet" href="/stylesheets/film/create.css">
    <link rel="stylesheet" href="/stylesheets/loader.css">
    <div class="my-header-page">
        <div class="my-top-header-text">
            <h1> Cinema Website </h1>
        </div>
    </div>


    <nav class="navbar navbar-default navbar-custom" ng-controller="profileController">
        <div class="container my-containter-full">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav nav-left">
                    <li class="ng-binding ng-show" ng-show="user._id" ng-cloak>
                        <a href="/user/{{user._id}}">
                        <i class="fa fa-user fa-lg" aria-hidden="true"></i> {{user.name}}</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-show="user._id" ng-cloak>
                        <a href="/phim/tao-phim" >
                            <i class="fa fa-upload fa-lg" aria-hidden="true"></i> Tạo phim mới </a>
                    </li>
                    <li  ng-show="user._id" ng-click="clickSignOut()" style="cursor: pointer" ng-cloak>
                        <a>
                        <i class="fa fa-power-off fa-lg" aria-hidden="true"></i> Đăng xuất </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div>
    </div>





    <div ng-controller="profileController">
        <p class="hide" id="user-id"><%= userId %></p>
        <div class="modal" tabindex="-1" role="dialog" id="LogoutDialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Thông báo</h5>
                        </div>
                        <div class="modal-body">
                            <p>Bạn có chắc chắn muốn đăng xuất ?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" ng-click="goSignOut()">OK</button>
                            <button type="button" class="btn btn-primary" ng-click="cancelDialog()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        <div class="container my-container-center my-title-header">
            <h1> Thông tin người dùng </h1>
        </div>

        <div class="container my-create-film">
            <form role="form">
                <div class="container col-sm-12 col-md-5 my-upload-profile text-center animated fadeIn">
                    <img id="imageFilm" name="imageFilm" src="/images/avatar-user.png">
                </div>

                <div class="container col-sm-12 col-md-7 my-form-film animated flipInX">
                    <div class="form-group">
                        <h4>Tên người dùng:</h4>
                        <p id="userName">{{ user.name }}</p>
                    </div>

                    <div class="form-group">
                        <h4>Email:</h4>
                        <p id="email">{{ user.email }}</p>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <script src="/javascripts/film/profile.js"></script>