<!DOCTYPE html>
<%- layout('../share/layout') %>

    <link rel="stylesheet" href="/stylesheets/film/create.css">
    <div class="my-header-page">
        <div class="my-top-header-text">
            <h1> Cinema Website </h1>
        </div>
    </div>

    <div class="loader"></div>

    <nav class="navbar navbar-default navbar-custom">
        <div class="container my-containter-full">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/dangky" ng-cloak>
                            <i class="fa fa-user-plus fa-lg" aria-hidden="true"></i> Đăng ký </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div>
    </div>





    <div ng-controller="signinController">

        <div class="modal" tabindex="-1" role="dialog" id="ErrorDialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Thông báo</h5>
                    </div>
                    <div class="modal-body">
                        <p id="errorNoti">{{ error }}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="closeDialog()">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container my-container-center my-title-header">
            <h1> Đăng nhập </h1>
        </div>

        <div class="container my-create-film">
            <form role="form">
                <div class="col-md-4 col-md-offset-4 my-form-signup animated flipInX">

                    <div class="form-group">
                        <h4>Email:</h4>
                        <input class="form-control my-input-film" type="text" id="email" ng-model="email" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <h4> Mật khẩu: </h4>
                        <input type="password" class="form-control my-input-film" id="password" ng-model="password" placeholder="Mật khẩu">
                    </div>
                </div>

                <div class="container my-container-center my-bot-form">
                    <button type="submit" class="btn btn-primary my-btn text-center animated slideInUp" style="margin-right:15px" ng-click="clickSignIn()">
                        <i class="fa fa-sign-in fa-lg" aria-hidden="true"></i>
                        Đăng nhập
                    </button>
                </div>
                <div></div>
                <div class="row col-md-4 col-md-offset-4">
                    <div class="" id="div-login-google">
                        <a href="/api/auth/google">
                            <img src="/images/google.png" alt="Đăng nhập với Google+" width="100%" style="padding-top: 20px" >
                        </a>
                    </div>
                    <div class="" id="div-login-facebook">
                        <a href="/api/auth/facebook">
                            <img src="/images/facebook.png" alt="Đăng nhập bằng Facebook" width="100%" style="padding-top: 20px">
                        </a>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <script src="/javascripts/film/signin.js"></script>