<!doctype html>
<html lang="en" ng-app="Cinema-Web" class="ng-cloak">

<head>
    <% include ./head.ejs -%>

</head>

<body>
        <!--div class="loader">Loading&#8230;</div-->
    <%- body %>


        <% include ./footer.ejs %>
            
</body>

</html>